.right-answers-msg{
    font-family: OpenSans;
    font-size: 24px;
    color: #223336;
    letter-spacing: 0;
}

.game-over-text{
    color: #0D7BAB;
    margin-left: 27%;
}

.action-btn{
    background-color: #FAFAFA;
    border: 2px solid #D9E6EB;
    border-radius: 23px;
    margin: 5% auto;
    width: 80%;
}