:host{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.question{
    font-family: OpenSans;
    font-size: 24px;
    color: #223336;
    letter-spacing: 0;
}

.question-number{
    color: #0D7BAB;
    font-size: 32px;
}

.question-text-container{
    padding: 16px 0;
    text-align: center;
    min-width: 250px;
}

.answers-container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
}

.verify-btn{
    background-color: #9e5a63;
    border: 1px solid #9e5a63;
    border-radius: 30px;
    margin: auto;
    width: 205px;
    height: 45px;
    vertical-align:top;
}

.verify-btn:hover:not([disabled]){
    background-color: #8a4a53 !important;
    border: 1px solid #8a4a53;
}

.verify-btn-container{
    display: flex;
}

.verify-btn-text{
    font-family: OpenSans-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.disabled-btn{
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
}

app-answers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}