<div class="question-container">
  <img class="category-img" src="{{selectedCateroryImg}}" *ngIf="selectedCateroryImg">
  <div class="question-text-container">
    <span class="question question-number">{{"Q:"+(questionData.index+1)}}</span>
    <span class="question" [innerHTML]="questionData.question"></span>
  </div>
</div>
<div class="answers-container">
  <app-answers 
    [answers]=answers
    [status]=status 
    [correctAnswer]=_questionData.correct_answer
    (MessageEvent)="receiveMessage($event)">
  </app-answers>
</div>
<div class="verify-btn-container">
  <button 
    class="verify-btn" 
    *ngIf="!hideContinueBtn" 
    (click)="sendMessage()">
    <span class="verify-btn-text">Continue</span>
  </button>
  <button 
    class="verify-btn" 
    *ngIf="hideContinueBtn" 
    (click)="verifyAnswer()" 
    [disabled]="!currentAnswer"
    [ngClass]="{'disabled-btn': !currentAnswer}">
    <span class="verify-btn-text">OK</span>
  </button>
</div>
