:host{
    display: flex;
    flex-direction: row;
}
.image{
    height: calc(100vh - 50px);
}

.image1{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.options-container{
    width: 100%;
    background-color: #9e5a63;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.main-title{
    padding: 16px 0;
    font-size: 40px;
    text-align: center;
    color: #faf6f9;
}

.secondary-title{
    padding: 24px 0;
    display: flex;
    font-size: 22px;
    justify-content: center;
    color: #faf6f9;
}

.link{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #faf6f9;
    background-color: #644e5b;
    text-decoration: none;
    width: 150px;
    padding: 8px 0;
    border-radius: 20px;
}

.link:hover{
    color: #9e5a63;
}

